.game-content{
    width: fit-content;
    height: 80%;
    margin: 0 auto;
}

.game-content .not-map{
    margin-top: 10px;
}

.map{
    position: relative;
}

.banner{
    text-align: center;
    margin: 0px;
}
.row{
    width: fit-content;
}

.row .cell{
    width: 80px;
    height: 80px;   
    /*background-color:#1c9aa0;*/
    display: inline-block;
    text-align: center;
    
    /*candidatos a remoção*/
    vertical-align: top;
    margin: 2px 0px;
    border: 3px solid transparent;
}

.cell:hover, .chip:hover{
    /*background-color: #9abbc5;*/
    /* box-shadow: 5px 10px 10px black; */
    border-color: blaCK;
}

.cell .cell-text{
    position: relative;
    top: 35%;
}

.row .finish{
    background-color: gray;
}

.row .start{
    background-color: gray;
}

.row .placeholder{
    visibility: hidden;
}

.chips{
    margin: 10px;
}

.chip{
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #1e718a;
    border: 3px solid #525252;
    border-radius: 50%;
    font-size: 32px;
    margin: 2px;
}

.chip .chip-text{
    position: relative;
    top: 25%;
    text-align: center;
}

.title{
    margin: 2px;
}

.categories{
    float: right;
    width: 280px;
    text-align: center;
}

.category{
    border: 2px solid transparent;
    margin: 2px;
    font-size: 20px;
    width: 100%;
}
.category:hover{
    border-color: black;
}


/*CATEGORIAS*/
.cienciaTecnologia{
    background-color: #0b5e98;
}

.mundo{
    background-color: #87c709;
}
.arteEntretenimento{
    background-color: #e4e447;
}
.sociedade{
    background-color: #ea2828;
}

.esportelazer{
    background-color: #343fbf;
}
.variedades{
    background-color: #e4e4af;
}

/*PERGUNTA*/
.question{
    background-color: #b0c4ce;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 185px;
    left: 225px;
    border-radius: 10px;
    padding: 0 10px;
}

.question-alternatives{
    list-style-type: lower-alpha;
}

.question-alternatives li{
    border: 1px solid transparent;
}

.question-alternatives li:hover{
    border-color: black;
}


/*Coisas do jogador*/
.player-avatar{
    height: 30px;
    width: 30px;
    position: absolute;
    border: 1px solid black;
    bottom: 30px;
    right: 300px;
}

.one{
    background-color: black;
}